$light: #f8f9fa;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: 'Baloo Paaji 2', cursive;
  background-color: $light;
}

.catalog-item {
  background-color: #222831;
  color: $light;
  &_img {
    img {
      max-width: 100%;
    }
  }
}
